@model Admin_panel.Models.Data.Category
@{
    Layout = "_Layout";
}
@{
    ViewData["Title"] = "AddCategory";
}

<h3>Add Category</h3>

@* <h4>Category</h4> *@
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddCategory">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="cat_name" class="control-label">Category Name</label>
                <input asp-for="cat_name" class="form-control" />
                <span asp-validation-for="cat_name" class="text-danger"></span>
            </div>
            <div class="form-group">
               @*  <label asp-for="cat_status" class="control-label"></label> *@
                <input hidden value="1" asp-for="cat_status" class="form-control" />
                <span asp-validation-for="cat_status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="ADD" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-secondary" asp-action="CategoryList">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
