@model Admin_panel.Models.Data.SuperMarket

@{
    ViewData["Title"] = "AddSuperMarket";
}
@{
    Layout = "_Layout";
}
<h3>Add Super Market</h3>


<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="AddSuperMarket">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="sp_name" class="control-label">Super Market Name</label>
                <input asp-for="sp_name" class="form-control" />
                <span asp-validation-for="sp_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sp_town" class="control-label">Super Market Town</label>
                <input asp-for="sp_town" class="form-control" />
                <span asp-validation-for="sp_town" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-secondary" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
