@page
@model ForgotPasswordModel


<html>

<head>
    <title>@ViewData["Title"]</title>
    <meta name="viewport" content="width=device-width" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="~/css/ofiicecss.css" rel="stylesheet" />


</head>
<body class=" gradient-custom-4">
    <section class="bg-image gradient-custom-4">
        <div class="mask d-flex align-items-center  gradient-custom-3">
            <div class="container">
                <div class="row d-flex justify-content-center align-items-center ">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="card" style="border-radius: 15px;">
                            <div class="card-body p-5">
                                <h2>Forget Your Password?</h2>
                                <hr />

                                <form method="post">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                    <div class="form-outline mb-4">
                                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                                        <label asp-for="Input.Email" class="form-label"></label>
                                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                                    </div>


                                    <div class="d-flex justify-content-center">
                                        <button type="submit" class="btn btn-success btn-block  gradient-custom-4 text-body">Reset password</button>

                                    </div>



                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }

</body>
</html>
@*
    template....................................
*@
